
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" name="identityForm" [formGroup]="identityForm" (ngSubmit)="onSubmit()">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                        </div>
                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg"  id="firstname" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="text"
                          formControlName="firstname"
                           class="form-control" 
                           placeholder="First Name..." 
                           (focus)="focus=true" 
                           (blur)="focus=false" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" id="lastname"[ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input formControlName="lastname"  type="text" placeholder="Last Name..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg"  id="nickname"[ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="text" formControlName="nickname" placeholder="Nick Name..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                      <div class="input-group form-group-no-border input-lg"  id="avatar"[ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons design_image"></i></span>
                        </div>
                          <input formControlName="avatar" type="file" placeholder="Avatar..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>

 
                    </div>

                   <!-- <ngb-alert [type]="danger"  [dismissible]="false" >
                        <div class="container">
                            <div class="alert-wrapper">
                                <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                                  <span aria-hidden="true">
                                      <i class="now-ui-icons ui-1_simple-remove"></i>
                                  </span>
                                </button>
                                <div class="message">
                                    <ng-container *ngIf="alert.icon">
                                      <div class="alert-icon">
                                          <i class="now-ui-icons objects_support-17"></i>
                                      </div>
                                    </ng-container>
                                    <strong>There is an existing account associated to this address ! </strong> Would you like  <a [routerLink]="['/identity/new-identity']">to connect </a>
                                </div>
                            </div>
                        </div>
                    </ngb-alert>-->
                    <div class="footer text-center">
                        <button type="submit"   class="btn btn-primary btn-round btn-lg btn-block">Registrate for Identity</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a href="#pablo" class="link">Check identity</a>
                        </h6>
                    </div>
              
                </form>
           
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
        
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, IdentityDapp 
               
            </div>
        </div>
    </footer>
</div>
